.container {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.list-group,
.table {
    margin-top: 20px;
    margin-bottom: 0;
}

span {
    font-size: 12px;
}

[aria-selected="true"] {
    display: none;
}

.table > tbody > .dataset-row {
    
    > td {
        padding-top: 20px;
        padding-bottom: 20px;
        min-width: 70px;
    }

    .btn {
        visibility: hidden;
        margin-left: 20px;
    }

    &:hover {
        .btn {
            visibility: visible;
        }
    }
}

.tag-filter {
    margin-bottom: 30px;
    width: 40%;
}

.select2 {
    float: left;
}