.container {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.list-group,
.table {
    margin-top: 20px;
    margin-bottom: 0;
}

span {
    font-size: 12px;
}

[aria-selected="true"] {
    display: none;
}

.table > tbody > .dataset-row {
    
    > td {
        padding-top: 20px;
        padding-bottom: 20px;
        min-width: 70px;
    }

    .btn {
        visibility: hidden;
        margin-left: 20px;
    }

    &:hover {
        .btn {
            visibility: visible;
        }
    }
}

.tag-filter {
    margin-bottom: 30px;
    width: 40%;
}

.select2 {
    float: left;
}

.multiselect-container.dropdown-menu {
    max-height: 400px;
    overflow-y: scroll;
}

.dropzone-msg {
    opacity: 0;
    transition: opacity 1s linear;
}

.preview-url {
    margin-top: 30px;
    margin-left: 50px;
    display: block;
    float: right;
}

.indicator-group-container {
    display: flex;
    align-items: flex-end;
    h2 {
        display: inline-block;
    }

    a {
        margin-left: 20px;
    }
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 0;
    margin: 0;
    padding: 0;
}

.link-list {
    list-style: none;
    padding: 0;

    li {
        display: inline;
        margin-left: 20px;
    }
}

tr {
    border-top: 1px solid #ddd;
}

td {
    border: 0;
}